.payment-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.left-content,
.right-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  height: 1000px;
  width: 1000px;
}
.left-content img {
  height: 100px;
}

.right-content {
  text-align: right;
  font-size: 16px;
}

.QRcode_cam {
  max-width: 400px;
}

.qr-code {
  max-width: 400px;
}

.thank-you-text {
  font-size: 30px;
}

.open-bank-app-text {
  font-size: 24px;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
  .payment-container {
    flex-direction: column; /* Alinhar verticalmente em telas menores */
  }

  .left-content,
  .right-content {
    width: 100%; /* Preencher toda a largura da tela */
    height: auto; /* Ajustar a altura automaticamente */
    border: none; /* Remover a borda em telas menores */
    text-align: center; /* Centralizar o texto em telas menores */
    padding: 10px; /* Reduzir o preenchimento */
  }

  .left-content img {
    height: 80px; /* Reduzir o tamanho da imagem */
  }

  .right-content {
    text-align: center; /* Centralizar o texto */
    font-size: 14px; /* Reduzir o tamanho da fonte */
  }

  .QRcode_cam,
  .qr-code {
    max-width: 100%; /* Redimensionar as imagens para caber na tela */
  }

  .thank-you-text {
    font-size: 24px; /* Reduzir o tamanho da fonte */
  }

  .open-bank-app-text {
    font-size: 20px; /* Reduzir o tamanho da fonte */
  }
}

/* Estilos para dispositivos maiores (retorne ao layout original) */
@media screen and (min-width: 769px) {
  .payment-container {
    flex-direction: row;
  }

  .left-content,
  .right-content {
    width: 1000px;
    height: 1000px;
    border: 1px solid gray;
    text-align: left;
    font-size: 16px;
  }

  .left-content img {
    height: 100px;
  }

  .right-content {
    text-align: right;
  }

  .QRcode_cam,
  .qr-code {
    max-width: 400px;
  }

  .thank-you-text {
    font-size: 30px;
  }

  .open-bank-app-text {
    font-size: 24px;
  }
}
