.payment-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.left-content,
.right-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  height: 1000px;
  width: 1000px;
}
.left-content img {
  height: 100px;
}

.right-content {
  text-align: right;
  font-size: 16px;
}

.QRcode_cam {
  max-width: 400px;
}

.qr-code {
  max-width: 400px;
}

.thank-you-text {
  font-size: 30px;
}

.open-bank-app-text {
  font-size: 24px;
}

.click_aq {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .payment-container {
    flex-direction: column;
  }

  .left-content,
  .right-content {
    width: 100%;
    height: auto;
    border: none;
    text-align: center;
    padding: 10px;
  }

  .left-content img {
    height: 80px;
  }

  .right-content {
    text-align: center;
    font-size: 14px;
  }

  .QRcode_cam,
  .qr-code {
    max-width: 100%;
  }

  .thank-you-text {
    font-size: 24px;
  }

  .open-bank-app-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) {
  .payment-container {
    flex-direction: row;
  }

  .left-content,
  .right-content {
    width: 1000px;
    height: 1000px;
    border: 1px solid gray;
    text-align: left;
    font-size: 16px;
  }

  .left-content img {
    height: 100px;
  }

  .right-content {
    text-align: right;
  }

  .QRcode_cam,
  .qr-code {
    max-width: 380px;
  }

  .thank-you-text {
    font-size: 30px;
  }

  .open-bank-app-text {
    font-size: 24px;
  }
}
